{% extends 'base.html' %}
{% load static %}
{% block title %} PROFILE {% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile_layout.css'%}">
<style>
  .card{
    margin-top: 50px;
  }
  body{
    background-color: white;
  }
@media screen and (max-width:360px) {
  #contact{
    max-width: 360px !important;
  }
}
#contact{ 
    max-width: 411px !important;
  }
main{max-width: 100%;}
#ap-nav-icon-bar a{
  margin-top: 0;
}
.fa-home{
  font-size: 37px !important;
  margin-top: 5px;
}
</style>
<div class="card" data-state="#about">
    <div class="card-header">
      <div class="card-cover" style="background-image: url('{{user.profile.image.url}}')"></div>
      <img class="card-avatar" src="{{user.profile.image.url}}" alt="avatar" />
      <h1 class="card-fullname">{{user.first_name}} {{user.last_name}}</h1>
      <h2 class="card-jobtitle">@{{user.username}}</h2>
    </div>
    <div class="card-main">
      <div class="card-section is-active" id="about">
        <div class="card-content">
          <div class="card-subtitle">Bio</div>
          <p class="card-desc">{{user.profile.bio}}
          </p>
        </div>
        <div class="card-social">
                <div class="row full-width pl-2">
                    <div class="col-6">
                        Followers
                    </div>
                    <div class="col-6">
                        Following
                    </div>
                    {%  if user_profile != None %}
                    <div class="col-6">
                        <h3 class="white-important follow-click">
                            <a >
                                {{ user_profile.profile.followers }}
                            </a>
                        </h3>
                    </div>
                    <div class="col-6">
                        <a>
                            <h3 class="white-important follow-click">
                                {{ user_profile.profile.following }}
                            </h3>
                        </a>
                    </div>
                    {% else %}
                    <div class="col-6">
                        <a >
                            <h3 class="white-important follow-click">
                                {{ user.profile.followers }}
                            </h3>
                        </a>
                    </div>

                    <a >
                        <div class="col-6">
                            <h3 class="white-important follow-click left-pl">
                                {{ user.profile.following }}
                            </h3>
                        </div>
                    </a>
                    {%  endif %}
                </div>
        </div>
      </div>

      <div class="card-section" id="contact">
        <div class="card-content">
          <div class="card-subtitle">CONTACT</div>
          <div class="card-contact-wrapper">
            <div class="card-contact">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0118 0z" />
                <circle cx="12" cy="10" r="3" /></svg>
              {{user.profile.location}}
            </div>
            <div class="card-contact">
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M22 16.92v3a2 2 0 01-2.18 2 19.79 19.79 0 01-8.63-3.07 19.5 19.5 0 01-6-6 19.79 19.79 0 01-3.07-8.67A2 2 0 014.11 2h3a2 2 0 012 1.72 12.84 12.84 0 00.7 2.81 2 2 0 01-.45 2.11L8.09 9.91a16 16 0 006 6l1.27-1.27a2 2 0 012.11-.45 12.84 12.84 0 002.81.7A2 2 0 0122 16.92z" /></svg>{{user.profile.contact}}</div>
            <div class="card-contact">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
                <path d="M22 6l-10 7L2 6" /></svg>
              {{user.email}}
            </div>
            <button class="contact-me" onclick="window.open('https://wa.me/{{user.profile.contact}}','_blank')" >CHAT</button>
          </div>
        </div>
      </div>
      <div class="card-buttons">
        <button data-section="#about" class="is-active">BIO</button>
        <button data-section="#contact">CONTACT</button>
      </div>
    </div>
  </div>
  <script src="{% static 'js/profile.js' %}"></script>
{% endblock content %}