{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<style>
    
.search-result-profile{
    background-color: #d2d2d2;
    border-radius: 20px;
    padding: 15px;
    margin: 9px;
    display: flex;
    align-items: center;
}
.btn-default{
     border: 2px solid black;
}

</style>
<div style="text-align: center; padding-left: 35px;">
    <div id="maintitle" style="color: black; font-size: 50px; font-weight: bold; font-family: cookie;">Chat With</div>
</div>

{% for user in user_pro %}
<div class="search-result-profile">
    <div style="padding-left: 0px !important;" class="col-8 no-padding d-flex align-items-center">
       <img class="rounded-circle mr-2" style="width: 40px; height: 40px;" src="{{ user.profile.image.url }}">
       <a class="mr-2 white-important">
           @{{ user.username }}
       </a>
   </div>
   <a onclick="window.open('https://wa.me/{{user.profile.contact}}','_blank')" class="btn btn-default" style="margin-left: 25px;">Message</a>
</div>
{% endfor %}
{% endblock content %}