:root {
    --main-gradient: linear-gradient(-20deg, #50bff0 0%, #5090f0 100%);
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    transform-style: preserve-3d;
  }
  .hidden {
    display: none;
  }
  body {
    perspective: 2000px;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background:black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-weight: 300
  }
  #stage-container {
    position: relative;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 20px 30px 0px rgba(0, 0, 0, .5);
    transition: all .5s, overflow 0s .5s;
  }
  
  
  header {
    position: absolute;
    left: 0;
    background: #000;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.25);
    z-index: 11;
    transition: transform .5s;
    box-shadow: 0 4px 8px 1px  rgba(0, 95, 0, 0.699);
  }
  nav {
    position: absolute;
    top: 60px;
    left: 0;
    background-image: black;
    width: 100%;
    height: 0px;
    transition: height .25s, left 1s
  }
  nav.open {
    height: calc(100vh - 80px);
    transition-delay: .1s
  }
  @media (max-width:600px){
    nav.open {
    height: calc(100vh - 70px);
    transition-delay: .1s
  }
  }
  nav.hide {
    left: -60px;
    background-color: black;
  }
  #hamburger {
    position: absolute;
    top: -60px;
    left: 0px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .25s;
    transition-delay: .25s
  }
  #hamburger span,
  #hamburger span::after,
  #hamburger span::before {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    background: white;
    border-radius: 0px;
    transition: all .25s;
  }
  #hamburger span::after {
    content: '';
    top: -7px;
    left: 0px;
    background-color: white;
  }
  #hamburger span::before {
    content: '';
    top: 7px;
    left: 0px;
    background-color: white;
  }
  #hamburger::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:0;
    background: black;
    transition: all .1s ease-in;
    transition-delay: .25s;
  }
  nav.open #hamburger {
    transition-delay: 0s;
    background-color: black;
  }
  
  nav.open #hamburger::before {
    transition-delay: 0s;
    height:100%;
  }
  nav.open #hamburger span::after {
    top: 0;
    background: white;
  
  }
  nav.open #hamburger span::before {
    top: 0;
    background:white;
  }
  #menu {
    position: relative;
    overflow: hidden;
    top: -10px;
    height: 0;
    transition: all .25s;
    background-color: black;
  }
  nav.open #menu {
    top: 0;
    height: 100%;
    transition-delay: .25s;
  }
  #menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #menu li {
    transition: all .25s
  }
  #menu #primary-nav li {
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 30px;
    color: #fff;
    font-family: 'Catamaran';
    font-weight: 100;
  }
  #menu #primary-nav li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    height: 1px;
    background: rgba(255, 255, 255, 0.1)
  }
  #menu #primary-nav li:hover {
    background: rgba(255, 255, 255, 0.1)
  }
  #menu #primary-nav a {
    display:block;
    position:relative;
    width:100%;
    height:100%;
    color:inherit;
    text-decoration:none;
    padding: 0 30px;
  }
  nav.open #menu #primary-nav li {
    height: 60px;
    line-height: 60px;
    transition-delay: .25s;
  }
  #social-btns {
    position: absolute;
    bottom:0;left:0;
    height:60px;
    width:100%;
    opacity: 0;
    transition: all .5s
  }
  nav.open #social-btns {
    opacity: 1;
    transition-delay: .5s;
  }
  #social-btns::before {
    content:'';
    position:absolute;
    top:0;left:30px;right:30px;
    height:1px;
    background: rgba(255,255,255,0.1)
  }
  #social-btns li {
    position:relative;
    float:left;
    width:33.33%;
    text-align:center;
    line-height:60px;
    color: rgba(255,255,255,0.75);
    cursor: pointer;
  }
  #social-btns li:hover {
    color: rgba(255,255,255,1);
  }
  #maintitle {
    height:60px;
    line-height:60px;
    position:relative;
    margin:0 120px 0 60px;
    text-align:center;
    width:calc(100% - 180px);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size:20px;
    color: #e0e0e0;
  }
  #search-bar {
    position: absolute;
    top: 0;
    right: 60px;
    height: 60px;
    width: 60px;
    transition: all .5s;
    overflow: hidden;
  }
  #search-bar.active {
    width: 100%;
    right: 0;
  }
  #search-input {
    border: 0;
    height: 40px;
    width: calc(100% - 70px);
    line-height: 40px;
    padding: 0 40px 0 10px;
    outline: none;
    position: absolute;
    top: 10px;
    right: 60px;
    color:#424242;
    font-size:16px;
    font-family:'Catamaran';
    background: #f0f0f0;
  }
  #search-btn {
    border: 0;
    outline: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    background: none;
    right: 0;
    top: 0;
  }
  #search-btn::before {
    content: '';
    position: absolute;
    top: 17px;
    left: 17px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .25s
  }
  #search-btn::after {
    content: '';
    position: absolute;
    top: 37px;
    left: 30px;
    background: white;
    border-radius: 1px;
    width: 14px;
    height: 2px;
    transform: rotate(45deg);
  }
  #search-btn.loading::before {
    width: 26px;
    height: 26px;
    border-width: 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 2s linear infinite;
  }
  #search-btn.loading::after {
    display: none;
  }
  #close-search {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 70px;
    cursor: pointer;
  }
  #close-search::before,
  #close-search::after {
    width: 18px;
    height: 2px;
    background: #999;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-9px, -1px) rotate(45deg);
  }
  #close-search::after {
    transform: translate(-9px, -1px) rotate(-45deg);
  }
  #search-bar.loading #close-search {
    display: none
  }
  #settings {
    position:absolute;
    width:60px;
    top:0;
    right: 0;
    height:60px;
    cursor: pointer;
    transition: all .25s, right 1s
  }
  #settings.hide {
    right: -60px
  }
  .fa-gear{
    font-size: 34px;
    padding-top: 13px;
    padding-left: 15px;
  }
  #settings-panel {
    position: absolute;
    top:0;right:0;
    z-index: 100;
    background: black;
    width: 0%;
    min-height: 800px;
    overflow: hidden;
    transition: all .5s;
  }
  #settings-panel.open {
    width: 100%;
  }
  #close-settings-panel {
    position:absolute;
    top:0;
    right:0;
    width:60px;
    height:60px;
    cursor:pointer;
  }
  #close-settings-panel span {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    top: 29px;
    right: 20px;
    background: #fff;
    border-radius: 0px;
    transition: all .25s;
  }
  #close-settings-panel span::after,
  #close-settings-panel span::before {
    content:'';
    position:absolute;
    background: #fff;
    width:13px;
    height:2px;
    transform: rotate(45deg);
    transform-origin: 100% 50%;
    top: 0px;
    right: 0px;
  }
  #close-settings-panel span::before {
    transform: rotate(-45deg);
  }
  #avatar{
    position:relative;
    width: 150px;
    height:150px;
    margin: 60px auto 20px;
    border-radius: 50%;
    border: 10px solid #fff;
    background: url('http://www.viciobonura.com/v1/layout/biobeard-small.png');
    background-size: cover;
    box-shadow: inset 0 0 1px 0px #5090f0;
    opacity: 0;
    transform: translateX(100%);
    transition: all .5s;
    transition-delay: 0s;
  }
  #settings-panel.open #avatar {
    opacity: 1;
    transform: translateX(0%);
    transition-delay: .25s
  }
  #settings-avatar {
    width:100%;height:100%;
    position:absolute;
    opacity: 0;
    transition: all .25s
  }
  #avatar:hover #settings-avatar {
    opacity: 1;
  }
  #edit-img {
    position:absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
    transition: all .25s
  }
  #edit-img span {
    display:block;
    position: absolute;
    width: 16px;height:6px;
    background: linear-gradient(to right,#fff 10px,rgba(0,0,0,0.25) 10px,rgba(0,0,0,0.25) 13px, #fff 13px);
    transform: rotateZ(-45deg);
    top: 44%;
    left: 40%
  }
  #edit-img span::before {
    content:'';
    position:absolute;
    top:0;
    left:-5px;
    width:0px;
    height:0px;
    border-width:3px 5px 3px 0px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
  }
  #upload-img {
    position:absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
    transition: all .25s
  }
  #upload-img span {
    display:block;
    position:absolute;
    background: #fff;
    width: 4px;
    height:20px;
    top:calc(50% - 14px);
    left:calc(50% - 2px);
    border-radius: 2px;
  }
  #upload-img span::before {
    content:'';
    position:absolute;
    top:3px;left:-5px;
    width: 14px;
    height: 14px;
    background: linear-gradient(135deg,#fff 0px,#fff 10px,transparent 10px);
    border-radius: 2px;
    transform:rotateZ(45deg);
  }
  #edit-img:hover,#upload-img:hover {
    background: rgba(0,0,0,0.5);
    cursor:pointer;
  }
  #settings-avatar .tag {
    position: absolute;
    width: 100%;
    height:20px;
    left: 0;
    top: 55%;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    font-family:'Roboto';
    font-size: 12px;
    text-align:center;
  }
  #user-name {
    position:relative;
    text-align:center;
    font-family:'Montserrat';
    color: #fff;
    font-size: 20px;
    height:20px;
    width:260px;
    margin: 0 auto 60px;
    opacity: 0;
    transform: translateX(100%);
    transition: all .5s;
    transition-delay: 0s
  }
  #settings-panel.open #user-name {
    opacity: 1;
    transform: translateX(0%);
    transition-delay: .35s;
  }
  #menu-user ul {
    margin:0 60px;
    list-style:none;
    padding:0;
  }
  #menu-user li {
    position:relative;
    height:40px;
    line-height:40px;
    color: #fff;
    cursor:pointer;
    border-top: 1px dashed rgba(255,255,255,0.25);
    padding: 0 20px;
    font-weight: 100;
    font-family:'Catamaran';
    background-image: 
      linear-gradient(90deg,
        rgba(255,255,255,.2) 0%,
        rgba(255,255,255,0) 50%
      );
    background-size: 200% 100%;
    background-position: 100% 0%;
    opacity:0;
    transform: translateX(50%);
    transition: all .5s, background-position .25s;
    transition-delay: 0s, 0s;
  }
  #menu-user li:hover {
    background-position: 0% 0%;
  }
  #menu-user li:last-of-type {
    border-bottom: 1px dashed rgba(255,255,255,0.25);
  }
  #settings-panel.open #menu-user li {
    opacity: 1;
    transform: translateX(0%);
  }
  #settings-panel.open #menu-user li:nth-of-type(1) {
    transition-delay: .5s, 0s;
  }
  #settings-panel.open #menu-user li:nth-of-type(2) {
    transition-delay: .7s, 0s;
  }
  #settings-panel.open #menu-user li:nth-of-type(3) {
    transition-delay: .9s, 0s;
  }
  #settings-panel.open #menu-user li:nth-of-type(4) {
    transition-delay: 1.1s, 0s;
  }
  
  main {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left:0px;
    right:0px;
    background: black;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    transform-style: preserve-3d;
    perspective: 500px;
  }

  section {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:calc(90vh - 120px);
    overflow: hidden;
    background: none;
    transition: all .25s ease .25s;
    z-index: 1;
    opacity: 0;
    transform: translateZ(-50px);
  }
  section.active {
    background: black;
    z-index: 2;
    opacity: 1;
    height: auto;
    min-height:calc(90vh - 120px);
    transform: translateZ(0px);
    transition-delay: .25s;
    margin-top: 20px;
  }
  section.out {
    transform: translate(100vw);
  }
  
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 10;
    transition: transform .5s;
    box-shadow: 2px 4px 8px 6px rgba(29, 187, 29, 0.699);
    background-color: black;
    display: none;
  }
  #ap-nav-icon-bar {
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    display: none;
    list-style:none;
    box-shadow: 2px 4px 8px 6px rgba(29, 187, 29, 0.699);
  }
  #ap-nav-icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 10px 0;
    transition: all 0.3s ease;
    color: whitesmoke;
    font-size: 28px;

  }
  
  #ap-nav-icon-bar a:hover {
    background-color: black;
  }
  
  #ap-nav-icon-bar-active {
    background-color: #000000;
  }
  @media screen and (max-width: 600px) {
     #ap-nav-icon-bar a {
      font-size: 25px;
    }
    .fa-film{
      font-size: 23px;
    }
    footer{
      display: block;
    }
    #ap-nav-icon-bar {
        display: block;
    }
    .fa-home{
      font-size: 28px;
    }
    .fa-send{
      font-size: 22px;
    }
  }
  /* Bottom Nav End */